In [158]:
# import pandas library for data manipulation and numerical computation
import pandas as pd
import numpy as np

In [159]:
# read the csv file into a pandas dataframe
arewa = pd.read_csv(r"food_coded.csv")

In [160]:
# viewing data
arewa.head(10)

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
5,2.25,1,1,610,3.0,980.0,2,"Candy, brownies and soda.","None, i don't eat comfort food. I just eat whe...",4.0,...,1.0,2.0,4,940.0,345,None.,1,2,1315,190
6,3.8,2,1,610,3.0,420.0,2,"Chocolate, ice cream, french fries, pretzels","stress, boredom",1.0,...,1.0,1.0,5,940.0,690,soccer,4,1,1315,180
7,3.3,1,1,720,3.0,420.0,1,"Ice cream, cheeseburgers, chips.",I eat comfort food when im stressed out from s...,1.0,...,1.0,2.0,1,725.0,500,none,4,2,1315,137
8,3.3,1,1,430,NaN,420.0,1,"Donuts, ice cream, chips",Boredom,2.0,...,2.0,2.0,5,725.0,345,none,3,2,760,180
9,3.3,1,1,430,3.0,315.0,2,"Mac and cheese, chocolate, and pasta","Stress, anger and sadness",1.0,...,1.0,1.0,4,580.0,345,field hockey,5,1,900,125

In [161]:
# view tail of the dataset
arewa.tail(10)

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
115,3.3,2,1,610,4.0,980.0,2,"chocolate bar, ice cream, pretzels, potato chi...","Stress, boredom and physical activity",NaN,...,1.0,1.0,1,1165.0,690,Hockey,2,2,1315,150
116,3.4,1,1,610,NaN,420.0,2,"Ice cream, chocolate, pizza, cucumber","loneliness, homework, boredom",NaN,...,1.0,2.0,5,725.0,345,none,5,1,1315,170
117,3.77,1,1,610,NaN,315.0,2,"Noodle ( any kinds of noodle), Tuna sandwich, ...",When i'm eating with my close friends/ Food s...,NaN,...,1.0,2.0,5,725.0,690,"No, I don't play sport.",3,1,760,113
118,3.63,1,1,430,3.0,420.0,1,"Chinese, chips, cake",Stress and boredom,NaN,...,1.0,2.0,4,940.0,345,None,5,2,1315,140
119,3.2,2,1,610,3.0,420.0,2,"chips, rice, chicken curry,","Happiness, boredom, social event",NaN,...,1.0,1.0,5,1165.0,690,Soccer,5,2,1315,185
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [162]:
# this function returns information about the dataset columns
arewa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          124 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   104 non-null    object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB

In [163]:
# this function returns the number of rows and columns in the dataset
arewa.shape

(125, 61)

In [164]:
# this function returns the size of the dataframe; 
# the product of the number of values recorded in each row and column
arewa.size

7625

This dataset has 61 columns with integer, float and object data types. The columns each have 125 data points respectively and it is evident that there are missing values in the dataset.

In [165]:
# accessing columns to inspect certain columns
arewa[['comfort_food','comfort_food_reasons_coded', 'comfort_food_reasons_coded.1']]

,comfort_food,comfort_food_reasons_coded,comfort_food_reasons_coded.1
0,none,9.0,9
1,"chocolate, chips, ice cream",1.0,1
2,"frozen yogurt, pizza, fast food",1.0,1
3,"Pizza, Mac and cheese, ice cream",2.0,2
4,"Ice cream, chocolate, chips",1.0,1
...,...,...,...
120,"wine. mac and cheese, pizza, ice cream",NaN,2
121,Pizza / Wings / Cheesecake,NaN,3
122,"rice, potato, seaweed soup",NaN,3
123,"Mac n Cheese, Lasagna, Pizza",NaN,7
124,"Chocolates, pizza, and Ritz.",NaN,5

# Inspecting and understanding the data
From the inclusion of a GPA column, this dataset appears to be a collection of data from students about the food they eat, how aware of their food choices they are and other factors (such as mood, sports, etc) that may affect their food choices.

This data may also aim to show how moods affect eating habits and calorie intake and in turn, net weight. The data points appear to have been taken from a student demographic that eat the same kind of food on the same or similar schedule.

In [166]:
 # this function return a view of the columns in the dataset
arewa.columns

Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1',
       'cuisine', 'diet_current', 'diet_current_coded', 'drink',
       'eating_changes', 'eating_changes_coded', 'eating_changes_coded1',
       'eating_out', 'employment', 'ethnic_food', 'exercise',
       'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

# Dealing with Incositent column names

It can be observed from the column view the the text casing of the column names are inconsistent. These columns would be renamed.

- Text case

- Rename

In [167]:
# to give the columns uniform name cases, capitalize str function is used.
arewa.columns = arewa.columns.str.capitalize()

In [168]:
arewa.columns

Index(['Gpa', 'Gender', 'Breakfast', 'Calories_chicken', 'Calories_day',
       'Calories_scone', 'Coffee', 'Comfort_food', 'Comfort_food_reasons',
       'Comfort_food_reasons_coded', 'Cook', 'Comfort_food_reasons_coded.1',
       'Cuisine', 'Diet_current', 'Diet_current_coded', 'Drink',
       'Eating_changes', 'Eating_changes_coded', 'Eating_changes_coded1',
       'Eating_out', 'Employment', 'Ethnic_food', 'Exercise',
       'Father_education', 'Father_profession', 'Fav_cuisine',
       'Fav_cuisine_coded', 'Fav_food', 'Food_childhood', 'Fries', 'Fruit_day',
       'Grade_level', 'Greek_food', 'Healthy_feeling', 'Healthy_meal',
       'Ideal_diet', 'Ideal_diet_coded', 'Income', 'Indian_food',
       'Italian_food', 'Life_rewarding', 'Marital_status',
       'Meals_dinner_friend', 'Mother_education', 'Mother_profession',
       'Nutritional_check', 'On_off_campus', 'Parents_cook', 'Pay_meal_out',
       'Persian_food', 'Self_perception_weight', 'Soup', 'Sports', 'Thai_food',
       'Tortilla_calories', 'Turkey_calories', 'Type_sports', 'Veggies_day',
       'Vitamins', 'Waffle_calories', 'Weight'],
      dtype='object')

In [169]:
# rename the GPA column as it is most appropriate in upper casing
arewa.rename(columns = {'Gpa' : 'GPA'}, inplace = True)

In [170]:
#arewa['Gpa'].rename('GPA')

In [171]:
arewa

,GPA,Gender,Breakfast,Calories_chicken,Calories_day,Calories_scone,Coffee,Comfort_food,Comfort_food_reasons,Comfort_food_reasons_coded,...,Soup,Sports,Thai_food,Tortilla_calories,Turkey_calories,Type_sports,Veggies_day,Vitamins,Waffle_calories,Weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

# Handling missing values

How to go about it:

    Add a default value.This can be the mean or the mode of values in the column.

    You can delete rows with missing values, depending on the problem. e.g. a critical situation.

However, confirm if there are missing values in the first place.

In [172]:
# checking for prescence of missing values in the whole dataset
arewa.isnull().any().any()

True

In [173]:
# checking for prescence of missng values in specific columns
arewa.isnull().any()

GPA                  True
Gender              False
Breakfast           False
Calories_chicken    False
Calories_day         True
                    ...
Type_sports          True
Veggies_day         False
Vitamins            False
Waffle_calories     False
Weight               True
Length: 61, dtype: bool

In [174]:
# checking for missing values in the dataset rows
arewa.isnull()

,GPA,Gender,Breakfast,Calories_chicken,Calories_day,Calories_scone,Coffee,Comfort_food,Comfort_food_reasons,Comfort_food_reasons_coded,...,Soup,Sports,Thai_food,Tortilla_calories,Turkey_calories,Type_sports,Veggies_day,Vitamins,Waffle_calories,Weight
0,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
121,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
122,False,False,False,False,True,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
123,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
124,False,False,False,False,True,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False

In [175]:
# total numbers of missing values in the dataset
arewa.isnull().sum().sum()

143

In [176]:
# numbers of missing values in each column of the dataset
arewa.isnull().sum()

GPA                  2
Gender               0
Breakfast            0
Calories_chicken     0
Calories_day        19
                    ..
Type_sports         21
Veggies_day          0
Vitamins             0
Waffle_calories      0
Weight               2
Length: 61, dtype: int64

#### Dealing with numeric missing values
Using the center off tendency (mean/ mode) to fill up missing values.

In [177]:
#arewa['Calories_day'].mean()

In [178]:
#arewa = arewa.Calories_day.fillna(arewa['Calories_day'].mean())

In [179]:
#arewa

Alternatively use the .fillna() method to fill in a specific value. Zero (0) is favoured to maintain original data

In [180]:
fill_arewa = arewa.fillna(0)

In [181]:
fill_arewa

,GPA,Gender,Breakfast,Calories_chicken,Calories_day,Calories_scone,Coffee,Comfort_food,Comfort_food_reasons,Comfort_food_reasons_coded,...,Soup,Sports,Thai_food,Tortilla_calories,Turkey_calories,Type_sports,Veggies_day,Vitamins,Waffle_calories,Weight
0,2.4,2,1,430,0.0,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,0,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,0.0,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,0.0,...,1.0,0.0,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,0.0,420.0,1,"rice, potato, seaweed soup",sadness,0.0,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",0.0,...,2.0,2.0,1,940.0,500,0,3,1,1315,135
124,3.9,1,1,430,0.0,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",0.0,...,1.0,2.0,2,725.0,345,0,4,2,575,135

In [182]:
arewa['Calories_day'].mean()
# this line of code is not assigned to a variable as we do not need it to be reproducable

3.0283018867924527

In [183]:
with_mean = arewa.Calories_day.fillna(arewa['Calories_day'].mean(), inplace = True)
# using the inplace kwarg to save changes to the dataframe arewa.

In [184]:
#with_mean

In [185]:
arewa
# the 'Calories_day' column have been filled inplace with the mean.

,GPA,Gender,Breakfast,Calories_chicken,Calories_day,Calories_scone,Coffee,Comfort_food,Comfort_food_reasons,Comfort_food_reasons_coded,...,Soup,Sports,Thai_food,Tortilla_calories,Turkey_calories,Type_sports,Veggies_day,Vitamins,Waffle_calories,Weight
0,2.4,2,1,430,3.028302,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.000000,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.000000,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.000000,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.000000,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.000000,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.000000,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,3.028302,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.000000,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,3.028302,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [186]:
# the missing values can be droped too.
# the code to drop the missing value has been assigned to a variable
# using the "Weight" column with only two missing values
weight_drop = arewa['Weight'].dropna()

In [187]:
weight_drop

0                           187
1                           155
2      I'm not answering this.
3                 Not sure, 240
4                           190
                 ...
120                         156
121                         180
122                         120
123                         135
124                         135
Name: Weight, Length: 123, dtype: object

In [188]:
# checking column for any missing value
weight_drop.isnull().any()

False

In [189]:
# checking the sum of missing values in the column.
# the code returns 0, which means all the missing values have been droped.
weight_drop.isnull().sum()

0

In [190]:
# what to do with missing values in categorical variables?

### The forward ffill() function 

this can be used to fill any missing value with the previous value - the value directly above it.

### the backwardfill() function, bfill()

use to fill missing value if there are no values in front of it or are at the end of the dataset.

In [191]:
arewa.ffill(inplace = True)

In [192]:
arewa

,GPA,Gender,Breakfast,Calories_chicken,Calories_day,Calories_scone,Coffee,Comfort_food,Comfort_food_reasons,Comfort_food_reasons_coded,...,Soup,Sports,Thai_food,Tortilla_calories,Turkey_calories,Type_sports,Veggies_day,Vitamins,Waffle_calories,Weight
0,2.4,2,1,430,3.028302,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.000000,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.000000,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.000000,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,none,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.000000,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.000000,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,2.0,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.000000,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,2.0,...,1.0,1.0,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,3.028302,420.0,1,"rice, potato, seaweed soup",sadness,2.0,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.000000,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",2.0,...,2.0,2.0,1,940.0,500,none,3,1,1315,135
124,3.9,1,1,430,3.028302,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",2.0,...,1.0,2.0,2,725.0,345,none,4,2,575,135

In [193]:
# using function to check if there are any missing values.
arewa.isnull().any()

GPA                 False
Gender              False
Breakfast           False
Calories_chicken    False
Calories_day        False
                    ...
Type_sports         False
Veggies_day         False
Vitamins            False
Waffle_calories     False
Weight              False
Length: 61, dtype: bool

In [194]:
# check number of missing values
arewa.isnull().sum()

GPA                 0
Gender              0
Breakfast           0
Calories_chicken    0
Calories_day        0
                   ..
Type_sports         0
Veggies_day         0
Vitamins            0
Waffle_calories     0
Weight              0
Length: 61, dtype: int64

arewa.isnull().sum().sum()

# Dealing with duplicates

In [195]:
# check for duplicates
arewa.duplicated().sum()

0

No duplicates present. No unique ID present either.

# Data Transformation

- round up float column to two decimal places

- truncate values. separate numeric data from text.

In [196]:
arewa['GPA'].info

<bound method Series.info of 0        2.4
1      3.654
2        3.3
3        3.2
4        3.5
       ...
120      3.5
121        3
122    3.882
123        3
124      3.9
Name: GPA, Length: 125, dtype: object>

Notice how the column type is  object although it seemingly contain floats?

In [197]:
# convert column type from object to float
arewa[['GPA']] = arewa[['GPA']].astype(float)

ValueError: could not convert string to float: 'Personal '

The error message above shows Type Error. The column contains the str value 'personal'

In [198]:
# the functioncconverts the column to numeric type and invalid entries are converted to NaN
arewa[['GPA']] = arewa[['GPA']].apply(pd.to_numeric, errors = 'coerce')

In [199]:
# the numeric float values are rounded up to two decimal places
arewa['GPA'] = arewa['GPA'].round(2)

In [200]:
arewa

,GPA,Gender,Breakfast,Calories_chicken,Calories_day,Calories_scone,Coffee,Comfort_food,Comfort_food_reasons,Comfort_food_reasons_coded,...,Soup,Sports,Thai_food,Tortilla_calories,Turkey_calories,Type_sports,Veggies_day,Vitamins,Waffle_calories,Weight
0,2.40,2,1,430,3.028302,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.65,1,1,610,3.000000,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.30,1,1,720,4.000000,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.20,1,1,430,3.000000,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,none,3,1,1315,"Not sure, 240"
4,3.50,1,1,720,2.000000,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.50,1,1,610,4.000000,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,2.0,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3.00,1,1,265,2.000000,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,2.0,...,1.0,1.0,4,940.0,500,basketball,5,2,1315,180
122,3.88,1,1,720,3.028302,420.0,1,"rice, potato, seaweed soup",sadness,2.0,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3.00,2,1,720,4.000000,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",2.0,...,2.0,2.0,1,940.0,500,none,3,1,1315,135
124,3.90,1,1,430,3.028302,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",2.0,...,1.0,2.0,2,725.0,345,none,4,2,575,135

##### Separate numeric value attached to string value

In [201]:
arewa['Weight'].isnull().any()

False

In [205]:
# using the "Weight" column
arewa['Weight'] = arewa['Weight'].str.replace(r'\D', '', regex = True).replace('', np.nan)

In [206]:
arewa['Weight']

0      187
1      155
2      NaN
3      240
4      190
      ...
120    156
121    180
122    120
123    135
124    135
Name: Weight, Length: 125, dtype: object

In the 'Weight' column, the function and it's positional args remove all non-numeric characters and values that are just string types to NaN. This column is still an object type and can be converted to int.

In [207]:
arewa['Weight'] = arewa['Weight'].apply(pd.to_numeric, errors = 'coerce').astype

In [208]:
arewa['Weight']

0      187.0
1      155.0
2        NaN
3      240.0
4      190.0
       ...
120    156.0
121    180.0
122    120.0
123    135.0
124    135.0
Name: Weight, Length: 125, dtype: float64